:root {
  --primary: #4533a2;
  --secondary: #9e3db9;
  --dark: #212833;
  --dark-alt: #2f3949;
  --light: #e8f1ff; 
  --light-alt: #8a99b2;
  --red: rgb(169, 55, 55);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

body {
  background-color: var(--dark-alt);
  color: var(--light);
}

.App { 
  padding: 50px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 16px;
  color: var(--light-alt)
}

.todos{
  margin-left: 40px;
  margin-right: 40px;
}

.todo {
  position: relative;
  background-color: var(--dark);
  padding: 16px;
  border-radius: 16px;

  margin-bottom: 16px;
  display: center;
  cursor: pointer;
  transition: 0.5s;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 8px rgb(38, 39, 38);
}

.todo:hover {
  opacity: 0.7;
  box-shadow: none;
}

.todo .checkbox{
  width: 20px;
  height: 20px;
  margin-right: 16px;
  border-radius: 50%;
  background-color: var(--light-alt);
  transition: 0.5s;
}

.todo.is-complete .checkbox{
  background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
}

.todo.is-complete .text{
  text-decoration: line-through;
}

.todo .delete{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  color: white;

  width: 24px;
  height: 24px;
  background-color: var(--red);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.addPopup {
  position: fixed;
  bottom: 32px;
  display: flex;
  right: 32px;
  align-items: center;
  justify-content: center;
  
  width: 100px;
  height: 64px;
  border-radius: 10px;
  font-size: 28px;
  font-weight: 700;
  background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
  cursor: pointer;
  box-shadow: 0px 2px 8px rgb(38, 39, 38);
}

.popup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  max-width: 400px;
  background-color: #a2b1cb;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0px 2px 20px rgb(0, 0, 0);
}

.closePopup {
  position: absolute;
  color: var(--light);
  width: 20px;
  height: 20px;
  top: 16px;
  right: 16px;

  cursor: pointer;
  background-color: var(--red);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.popup h3{
  color: var(--dark-alt);
  margin-bottom: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.add-todo-input{
  border: none;
  padding: 16px;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px rgb(29, 30, 29);
  margin-bottom: 16px;
}

.popup .button-create{
  padding: 16px 32px;
  background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
  display: inline-block;
  border-radius: 16px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  box-shadow: 0px 2px 8px rgb(29, 30, 29);
}